html {
  scroll-behavior: smooth;
}
body{
    background-color: #e5eaf5;
}
#container {
    filter: url(#threshold) blur(0.6px);
}
#text1,
#text2 {
    position: absolute;
    margin:1px;
    color:white;
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size:45px;
    margin-left:20px;
    user-select: none;
}
.nav_right{
    float:right;
}
nav{
    position: static;
    width:100%;
    height: 60px;
    background-color: #494d5f;
    font-size: 0;
}
nav a{
    font-size: 27px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #e5eaf5;
    font-family: 'FashionVictim' !important;
    transition: 0.3s all ease-in-out;
    padding: 14px 20px;
}
nav a:hover{
    transition: 0.3 all ease-in-out;
    background-color: #52576e;
    box-shadow: 2px 3px 4px 2px;
}
.navbar .icon {
    display: none;
}
@media screen and (max-width: 750px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
  }
}
@media screen and (max-width: 750px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
  }
  .navbar.responsive a {
        float: none;
        background-color: #494d5f;
        display: block;
  }
}
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float:right;
        display: block;
  }
}
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
  }
  .navbar.responsive a a:hover {
      float: none;
      background-color: #494d5f;
      display: block;
  }
}

.scroll{
     text-decoration: none;
    position: relative;
    top:-21px;
    height:56px;
    color: white;
    background-color: #52576e;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: #52576e;
}

.foo_2{
    display:flex;
    background-color: #494d5f;
    margin-top:20px;
    padding: 10px;
}
.foo4{
    display: flex;
    justify-content: flex-start;
}
.hre_2{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin: 10px
}
pre{
    color:#e5eaf5;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}
.img_foot{
    float:left;
    padding-left:400px;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}
.arrows path {
	stroke: #494d5f;
	fill: transparent;
	stroke-width: 10px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}
@keyframes arrow{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
@-webkit-keyframes arrow{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}
.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}
.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

.slider {
    width: 100%;
    background-color: #494d5f;
}
.slider input {
    display: none;
}
.pics {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 580px;
    perspective: 1000px;
    overflow: hidden;
}
h1{
    text-align: center;
    font-family: monospace;
    font-size: 60px;
    color: #e5eaf5;
}
.lab {
    position: absolute;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: #e5eaf5;
    padding: 30px;
    width: 550px;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.slide {
    width: 450px;
    height: 350px;
    border-radius: 10%;
}
.slide_text {
    font-family: monospace;
    font-size: 20px;
    line-height: 1.5;
    color: #494d5f;
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e5eaf5;
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
}
/* First */
#t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);
    background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
}
#t-1:checked ~ .pics label[for="t-1"] {
    z-index: 4;
}
#t-1:checked ~ .picss label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
}
#t-1:checked ~ .pics label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 2;
}
#t-1:checked ~ .pics label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    z-index: 1;
}
#t-1:checked ~ .pics label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}
/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);
    background-color: #fff;
}
#t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
}
#t-2:checked ~ .pics label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .pics label[for="t-2"] {
    z-index: 3;
}
#t-2:checked ~ .pics label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
}
#t-2:checked ~ .pics label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 1;
}
#t-2:checked ~ .pics label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}
/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);
    background-color: #fff;
}
#t-3:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
}
#t-3:checked ~ .pics label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .pics label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .pics label[for="t-3"] {
    z-index: 3;
}
#t-3:checked ~ .pics label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
}
#t-3:checked ~ .pics label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}
/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
    transform: scale(2);
    background-color: #fff;
}
#t-4:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
}
#t-4:checked ~ .pics label[for="t-1"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .pics label[for="t-2"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .pics label[for="t-3"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 2;
}
#t-4:checked ~ .pics label[for="t-4"] {
    z-index: 3;
}
#t-4:checked ~ .pics label[for="t-5"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}
/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
    transform: scale(2);
    background-color: #fff;
}
#t-5:checked ~ .pics label[for="t-1"] {
    transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .pics label[for="t-2"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
#t-5:checked ~ .pics label[for="t-3"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
#t-5:checked ~ .pics label[for="t-4"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 3;
}
#t-5:checked ~ .pics label[for="t-5"] {
    z-index: 4;
}

h2{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    color: #494d5f;
}

.flex-cont{
    display: flex;
    margin:30px;
    justify-content:space-evenly;
    align-items: center;
}

.more{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

.more:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: #494d5f;
}
.miss{
    font-size:50px;
    font-family: monospace;
    font-weight: bold;
    color: #494d5f;
    margin: 3px;
}
.miss:hover{
     transform: scale(1.2);
}
.right_c{
    width:60%;
    float: right;
    border: 10px solid #494d5f;
}
.right_c:hover{
     transform: scale(1.1);
}
.lorem{
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
}


@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #e5eaf5;
	--c2: #494d5f;
}

.right_c {
	border: 10px solid;
	padding: 10px;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
.right_c:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}
@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 100%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 100%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}