body{
    background-color: #e5eaf5;
}
.flex_three{
    display: flex;
}
h2{
    font-size: 30px;
    text-align: center;
}
.flex1_div{
    font-family: monospace;
    margin: 20px;
    border: 5px dashed #494d5f;
    animation: spin 3s linear infinite;
}
.flex1_div:hover{
    transition: 0.3 all ease-in-out;
    transform: scale(1.1);
    box-shadow: 2px 3px 4px 2px;
}
.design{
    padding: 10px;
}
@keyframes spin { 
  100% { 
    transform: rotateZ(0deg);
  }
}